{% extends 'template.html' %}
{% load static %}

{% block content %}
    <div>
        <a href="{% url 'index' %}">Return to Index</a>
    </div>
	<div>
        <h1>{{ page_title }}</h1>
    </div>
    {% for image in images %}
        <div>
            <img src="{% static "" %}images/{{ image }}" class="choice_image align_left"/>
        </div>
    {% endfor %}

    <div>
        <input type="button" value="Click me" onclick="location.href='choice_image?page={{ next_page }}'" />
    </div>
{% endblock %}