{% extends 'template.html' %}
{% load static %}

{% block content %}
<h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

{% for image in images %}
    <div id="div{{ forloop.counter0 }}" class="drag_element" ondrop="drop(event)" ondragover="allowDrop(event)">
        <img src="{% static "" %}images/{{ image }}" draggable="true" ondragstart="drag(event)"
             id="drag{{ forloop.counter0 }}"/>
    </div>
{% endfor %}
{% for position in positions %}
    <div id="div{{ forloop.counter0 }}" class="drag_element" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
{% endfor %}

<div>
	<a href="{% url 'slider' %}">Next</a>
</div>
{% endblock %}