{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		{% for image in choices %}
			<img src="{% static "" %}images/{{ image }}" class="choice_image"/>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div><h1>Your Result is:</h1></div>
		<div>
			<!-- insert the image that has been selected using a wheel that represents -->
			<!-- a random draw for kids. If too difficult, think of an alternative -->
			<img src="{% static "" %}images/{{ image_payoff }}" class="choice_image align_left"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="text-right">
			<a href="wheel" class="btn btn-primary" role="button">Next</a>
		</div>
	</div>
</div>
{% endblock %}