{% extends 'template.html' %}
{% load static %}

{% block content %}
<h1>Range Slider Picture</h1>

<!-- all data sent to views.py slider and use method post to not save in url -->
<form action="slider" method="post">
    {% for image in images %}
    <div class="slidecontainer">
        <input type="range" name="{{ image }}" class="slider slider_{{ image }}" id="{{ image }}" min="1" max="100" value="50"/>
        <p>Value: <span id="{{ image }}_value"></span></p>
    </div>
    <script>
        slider_update_value("{{ image }}", "{{ image }}_value");
    // "{{ image }}" must be string because from the dictionary in views.py I am passing the name of images which is a string
    </script>

    {% endfor %}
    <!-- add one parameter html that is hidden and pass the data store_slider = true to python -->
    <input type="hidden" name="store_slider" value="true"/>
    <!-- this button sends the data to views.py -->
    <input type="submit" value="invia"/>
</form>

{% endblock %}