{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="display-3">Quanto ti piace lo snack?</h1>
		<br><br>
		<!-- all data sent to views.py slider and use method post to not save in url -->
	</div>
</div>
<form action="slider_save" method="post">
	<div class="container">
		{% for image in images %}
			<div class="row">
				<div class="col-sm-2">
					<img src="{% static '' %}images/images_choice/{{ image }}" class="slider_image float-left">
				</div>
				<div class="col-sm-1">
					<h1><span id="{{ image }}_value"></span></h1>
				</div>
				<div class="col-sm-8">
					<input type="range" name="{{ image }}" class="slider slider_{{ image }}" id="{{ image }}" min="0" max="10" value="5"/>
					<br><br><br>
				</div>
				<script>
					slider_update_value("{{ image }}", "{{ image }}_value");
					// "{{ image }}" must be string because from the dictionary in views.py I am passing the name of images which is a string
				</script>
			</div>
		{% endfor %}
	</div>
	<!-- add one parameter html that is hidden and pass the data store_slider = true to python -->
	<input type="hidden" name="store_slider" value="true"/>
	
	<!-- csrf is a series of pseudo-casual numbers to avoid that sharing a link may be "used to get money illegally."
	It is a security number.-->
	{% csrf_token %}
	<!-- this button sends the data to views.py -->
	<div class="col-md-12 text-center">
		<div class="row">
			<div class="col-md-8 text-center">
				<h2>Pochissimo</h2>
			</div>
			<div class="col-md-4 text-center">
				<h2>Tantissimo</h2>
			</div>
		</div>
	</div>
	<br><br><br><br>
	<div class="col-md-12">
		<div class="text-center">
			<input class="btn btn-lg btn-primary" type="submit" value="invia"/>
		</div>
	</div>
</form>

{% endblock %}