{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<div class="embed-responsive embed-responsive-16by9">
			<video controls autoplay>
				<source src="{% static "" %}videos/{{ video }}" type="video/mp4">
				 Your browser does not support the video tag.
			</video>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="text-right">
			<a href="{{ next_url_page }}" class="btn btn-primary">Avanti</a>
		</div>
	</div>
</div>
{% endblock %}