.iframe_fullpage {
	width: 100%;
	height: 100%;
	border: none;
	display: none;
}

/* fix bootstrap */
input[type="date"].form-control {
	line-height: inherit !important;
}

.contenuto_bottom_right {
	position:absolute;
	bottom:0.5em;
	right:1em;
}

.choice_image {
	width:160px;
	height:160px;
}

.choice_final_page {
	width:150px;
	height:auto;
}

.selected_image {
	border: 1px solid black;
}
.pencils {
	width:auto;
	height:auto;
}
.numerical_test {
	width:170px;
	height:230px;
}
.logic_test {
	width:300px;
	height:300px;
}
.raven_image {
	width:110px;
	height:110px;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}
.button:hover {
	background-color: #3e8e41
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button_disabled {
	opacity: 0.6;
	cursor: not-allowed;
}


.slider_image {
	width:75px;
	height:auto;
}

/* the following are styles for each slider: fix it into only one style */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 75px;
	border-radius: 5px;
	background-color: #d0d0d0;
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	background-color: #bdbdbd;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 75px;
	height: 75px;
	border: 0;
	background-size: 75px;
	cursor: pointer;
}

.slider_Loacker\.jpg::-webkit-slider-thumb,
.slider_Loacker\.jpg::-moz-range-thumb {
	background-image: url('../images/images_choice/Loacker.jpg');
}

.slider_Oreo\.jpg::-webkit-slider-thumb,
.slider_Oreo\.jpg::-moz-range-thumb {
	background-image: url('../images/images_choice/Oreo.jpg');
}

.slider_Nutella\.jpg::-webkit-slider-thumb,
.slider_Nutella\.jpg::-moz-range-thumb {
	background-image: url('../images/images_choice/Nutella.jpg');
}

.slider_Ringo\.jpg::-webkit-slider-thumb,
.slider_Ringo\.jpg::-moz-range-thumb {
	background-image: url('../images/images_choice/Ringo.jpg');
}


/*
questionario
*/
table.tabella_questionario th,
table.tabella_questionario td {
	width: 200px;
	height: 70px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}

table.tabella_questionario tr:nth-child(even) {
	background-color: #f2f2f2;
}