{% load static %}

<html>
<head>
	<title>{{ app_title }}</title>
	
	<!-- layout responsive: viene visualizzato correttamente da telefono o tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="shortcut icon" href="{% static "" %}images/{{ app_logo }}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static "" %}css/my_style.css"/>
	
	<!-- funzioni gia' fatte per gestioni varie -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<!-- stili e funzioni precreate per la gestione grafica -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<script src="{% static "" %}js/common_functions.js"></script>
	<script src="{% static "" %}js/scripts.js"></script>
	
</head>
<body>
	<div class="container-fluid">
		{% if is_index is False %}
			<br/>
			{% if is_localhost %}
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary" onclick="return location.reload();">Ricarica Pagina</button>
					</div>
				</div>
			{% endif %}
		{% endif %}
		
		<div class="row">
			<div class="col-md-12">
				{% for error in formBean.non_field_errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			</div>
		</div>
		
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>